html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/montserrat-v14-latin_cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	max-width: 1440px;
	height: 2700px;
	margin: auto;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
}

.section-one__navigation {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.logo {
  margin-left: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.main-menu__item {
  margin-left: 37px;
}

.main-menu__item_active {
  color: #E51937;
	border-bottom: 2px solid red;
	border-radius: 2px;
}

.main-menu__item_modelX {
	position: relative;
	left: 23px;
}

.second-menu__item_go {
  margin-left: 23px;
  margin-right: 25px;
}

.second-menu__item_burger-menu {
  margin-right: 60px;
}

.section-one__title {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.main-title {
  font-size: 90px;
}

.subtitle {
  font-size: 15px;
  font-weight: 500;
}

.images-tesla__wrapper {
	position: relative;
}

.image-background {
	position: absolute;
	top: -110px;
  width: 100%;
	z-index: 1;
}

.image-main {
	display: block;
	position: relative;
	margin-left: 198px;
  width: 968px;
	padding-top: 35px;
	z-index: 2;
}

.section-one__short-inform {
  display: flex;
  justify-content: center;
  align-items: center;
	margin-top: 20px;
}

.inform-block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inform-block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inform-block1_theme_acceleration {
  padding-right: 4vw;
}

.inform-block1_theme_distance {
  padding-right: 7vw;
}

.button-test-drive {
  padding-right: 3vw;
}

.button-order_color_red {
	border: 2px solid #E51937;
	padding: 10px 40px 10px 40px;
	color: #E51937;
	font-size: 13px;
	font-weight: 600;
}

.section-one__next-page {
	margin-top: 30px;
}

.next-page__image {
	display: block;
	margin: auto;
}

.section-two {
	display: flex;
	margin-top: 35px;
	display: none;
}

.section-two__content-left {
	flex: 1;
	max-width: 68%;
}

.left-content__title_direction_left {
	font-size: 70px;
	color: #E51937;
	margin-top: 40px;
  margin-left: 80px;
}

.left-content__img_direction_center {
	max-width: 80vw;
}

.section-two__content-right {
	flex: 1;
	max-width: 32%;
	background-color: #E51937;
	color: #FFFFFF;
}

.right-content__text {
  margin: 60px 60px 60px 70px;
}

.right-content__text_title {
	font-size: 30px;
	line-height: 37px;
}

.right-content__text_description {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-top: 17px;
  margin-right: 40px;
}

.right-content__icons {
	margin: 60px 60px 60px 70px;
}

.icons__inner {
	display: flex;
	margin-bottom: 30px;
}

.icons-big-description {
	margin-left: 20px;
}

.icons-name {
	font-size: 20px;
	line-height: 24px;
}

.icons-name-big {
	font-size: 35px;
	line-height: 43px;
}

.icons-description {
	font-size: 12px;
	line-height: 15px;
}

.right-content__button {
	display: flex;
	justify-content: center;
	align-items: center;
  margin-top: 220px;
}

.button-learn-more {
	margin-top: 5px;
  margin-right: 50px;
}

.button-order_color_white {
	border: 2px solid #FFFFFF;
	padding: 10px 40px 10px 40px;
	font-size: 13px;
	font-weight: 600;
}

.section-three {
	display: flex;
	display: none;
}

.section-three__content-left {
	flex: 1;
	max-width: 32%;
	background: #E51937;
	color: #FFFFFF;
}

.the-safest-car {
	margin: 60px 60px 60px 70px;
}

.the-safest-car__title {
	font-size: 30px;
	line-height: 35px;
}

.the-safest-car__description {
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	margin-top: 17px;
	margin-right: 50px;
}

.stars {
	display: flex;
	flex-direction: column;
	margin: 60px 140px 60px 70px;
}

.stars__title {
	font-size: 30px;
	margin-bottom: 25px;
}

.stars__item {
	display: flex;
 	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}

.stars__name-inform {
	font-size: 10px;
	line-height: 12px;
}

.logo-safety {
	display: flex;
	justify-content: center;
	margin: 60px 140px 60px 70px;
}

.logo-safety__description {
	display: flex;
	flex-direction: column;
	margin-left: 25px;
}

.five-stars {
	font-size: 50px;
	/* line-height: 61px; */
}

.safety {
	font-size: 25px;
	/* line-height: 30px; */
}

.button-inform {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.button-order_white {
	border: 2px solid #FFFFFF;
	padding: 10px 40px 10px 40px;
	font-size: 13px;
	font-weight: 600;
}

.section-three__content-right {
	flex: 1;
	max-width: 68%;
}

.background-text-models__img {
	float: right;
	z-index: 1;
  margin-top: 150px;
  position: relative;
}

.car-construction__img {
	z-index: 2;
  position: relative;
  margin-top: -120px;
}

.logo-school__img {
	float: right;
}


@media (max-width: 1024px) {

  .image-main {
    margin: auto;
  }

  .main-menu {
    display: none;
  }

  .second-menu__item_store {
    display: none;
  }

  .second-menu__item_go {
    display: none;
  }

}

@media (max-width: 768px) {

  .logo {
	  margin-left: 16px;
  }

  .main-menu {
	  display: none;
  }

  .second-menu__item_store {
	  display: none;
  }

  .second-menu__item_go {
	  display: none;
  }

  .second-menu__item_burger-menu {
    margin-right: 45px;
  }

  .section-one__title {
    margin-top: 86px;
  }

  .subtitle {
    margin-top: 5px;
  }

  .section-one__images-tesla {
    margin-top: 51px;
    background-image: url(../img/Tesla-Wordmark-Red.png);
    background-size: 821px;
    background-repeat: no-repeat;
    background-position-y: -70px;
  }

  .image-background {
    display: none;
  }

  .image-main {
    width: 695px;
    height: 327.64px;
    margin-left: 40px;
    margin-top: 52px;
  }

  .section-one__short-inform {
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 60px;
  }

  .inform-block1 {
    margin-bottom: 55px;
  }

  .inform-block1_theme_acceleration {
    width: 220.7px;
    height: 80.26px;
    margin-left: -15px;
    margin-right: 55px;
    padding-right: 0;
  }

  .inform-block1_theme_distance {
    width: 200.64px;
    height: 83.12px;
    padding-right: 0;
  }

  .button-test-drive {
    width: 170px;
    margin-top: 13px;
    margin-right: 30px;
    padding-right: 0;
  }

  .button-order_color_red {
    color: #FFFFFF;
    background: #E51937;
    padding: 18px 64px 18px 64px;
    font-size: 16px;
  }

  .section-two {
    display: none;
  }

  .section-three {
    display: none;
  }

}

@media (max-width: 376px) {

  .logo {
    margin-left: 0;
  }

  .logo__img {
    width: 138px;
    height: 42px;
  }

  .section-one__navigation {
    margin-top: 5px;
  }

  .main-menu {
    display: none;
  }

  .second-menu__item_store {
    display: none;
  }

  .second-menu__item_go {
    display: none;
  }

  .second-menu__item_burger-menu {
    margin-right: 20px;
  }

  .section-one__title {
    margin-top: 30px;
  }

  .main-title {
    font-size: 50px;
    line-height: 61px;
  }

  .subtitle {
    font-size: 10px;
    line-height: 12px;
    margin-top: -4px;
  }

  .section-one__images-tesla {
	  background-size: 430px;
	  background-position-y: -40px;
    background-position-x: -20px;
	}

  .image-background {
    top: 1px;
    width: 110%;
    margin-left: -15px;
  }

  .image-main {
    width: 95%;
    height: auto;
    margin-top: -3px;
    margin-left: 10px;
		padding-top: 0;
  }

  .section-one__short-inform {
    flex-direction: column;
    margin-top: 23px;
	  margin-bottom: 0;
  }

  .inform-block1 {
    margin-bottom: 33px;
  }

  .inform-block1_theme_acceleration {
    width: 127px;
    height: 53px;
	  margin-top: -3px;
    margin-right: 30px;
  }

  .inform-block1_theme_distance {
    width: 115px;
    height: 53px;
	  margin-top: 5px;
	  padding-left: 10px;
  }

  .button-test-drive {
		width: 124px;
	  margin-top: 10px;
    margin-right: 25px;
	  margin-left: -7px;
  }

  .button-order_color_red {
		font-size: 13px;
    margin-top: 3px;
    padding: 12px 40px 12px 40px;
    color: #FFFFFF;
    background: #E51937;
  }

  .section-two {
    display: none;
  }

  .section-three {
    display: none;
  }

}
